.element {
  position: relative;
  width: 282px;
  min-height: 361px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 235px 22px;
  grid-template-rows: 282px auto;
  grid-template-areas: 
  'element__img element__img'
  'element__title element__likes';
  gap: 22px 5px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
