.profile__add-item-btn {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  align-self: center;
  box-sizing: border-box;
  background-color: #000;
  background-image: url('../../../images/add-item-btn.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 0.5s;

}
.profile__add-item-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
@media screen and (max-width: 708px) {
  .profile__add-item-btn {
    justify-self: center;
  }
}
@media screen and (max-width: 530px) {
  .profile__add-item-btn {
    background-size: 16px 16px;
  }
}
@media screen and (max-width: 430px) {
  .profile__add-item-btn {
    width: 100%;
  }
}
