.profile {
  padding: 40px 0 50px 0;
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  justify-content: space-between;

}
@media screen and (max-width: 708px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 34px;
    padding-bottom: 32px;
  }
}
