.popup__container {
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 680px) {
  .popup__container {
    max-width: 382px;
  }
}
@media screen and (max-width: 390px) {
  .popup__container {
    max-width: 282px;
  }
}
