.profile__info {
  display: grid;
  grid-template-columns: auto minmax(auto, 450px) auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'profile__avatar profile__title profile__edit-btn'
  'profile__avatar profile__subtitle .';
  column-gap: 18px;
  row-gap: 8px;
}
@media screen and (max-width: 530px) {
  .profile__info {
    grid-template-columns: 16% 68% 16%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 'profile__avatar profile__avatar profile__avatar'
    '. profile__title profile__edit-btn'
    'profile__subtitle profile__subtitle profile__subtitle';
    justify-items: center;
    align-items: center;
    gap: 8px 0;
  }
}
